* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body > * {
    border: 1px solid;
}

body { 
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    height: 100vh;
}

header {
    grid-area: 1 / 3 / 4 / 13;
}

.nav {
    grid-area: 1 / 1 / 13 / 3;
}

main {
    grid-area: 4 / 3 / 13 / 13;
}