* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.icon-sm {
    width: 24px;
    height: auto;
}

img:where(.profile-pic-md, .profile-pic-sm) {
    height: auto;
    border-radius: 50%;
    border: 1px solid #333;
    padding: 2px;
}

.profile-pic-sm {
    width: 36px;
    height: 36px;
}

.profile-pic-md {
    width: 64px;
    height: 64px;
}

body > * {
    border: 1px solid;
}

body { 
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    height: 100vh;
}


header {
    grid-area: 1 / 3 / 4 / 13;
}

.nav {
    grid-area: 1 / 1 / 13 / 3;
}

main {
    grid-area: 4 / 3 / 13 / 13;
}


header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem 4rem;
}

header > .upper .search-bar {
    display: flex;
    align-items: center;
    gap: 1rem;

    input {
        padding: 0.5em 1em;
        width: 75ch;
        border-radius: 8px;
        border: none;
        background-color: #e0e0e0;
    }
}

header > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .profile {
    display: flex;
    align-items: center;
    gap: 1rem;
}

header > .lower .profile .name {
    display: flex;
    flex-direction: column;
}

header > .lower .profile .name > :first-child {
    font-size: 14px;
}

header > .lower .profile .name > :last-child {
    font-size: 18px;
    font-weight: 800;
}

header > .lower .buttons {
    display: flex;
    gap: 1rem;

    button {
        padding: 0.7em;
        width: 12ch;
        border-radius: 24px;
        border: none;
        background-color: rgb(103, 143, 251);
        color: #fff;
        font-weight: 600;
    }

}